build/
.cache
*,cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist/
docs/_build/
docs/modules/generated/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
env/
htmlcov/
.hypothesis/
.idea/
.installed.cfg
*.log
*.manifest
*.mo
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
__pycache__/
*$py.class
*.py[cod]
.Python
sdist/
*.so
*.spec
.*.swp
target/
.tox/
var/

# Ignore testing output
.coverage
qaworkdir

# backup file
*.bak
